<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>File</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<script type="text/javascript" src="/javascripts/jquery-3.1.1.js"></script>
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">home</a></span>
<span><a title="登录" href="/login">login</a></span>
<span><a title="注册" href="/reg">register</a></span>
<span><a title="上传" href="/upload">upload</a></span>
<span><a title="下载" href="/download">download</a></span>
<span><a title="分享" href="/share">share</a></span>
<span><a title="注销" href="/logout">logout</a></span>
</nav>

<article>
